$primary: #005eb8;
$tonal: #9cb19c;
$secondary: #fdd023;
$success: #41dc79;
$danger: #fa7a52;
$warning: #ffc107;
$info: #00a9ce;
$light: #e5efde;
$dark: #4a4a49;
$border: #dee2e6;

$font-families-default-font: Arial;

$input-btn-border-width: 0.2rem;
$input-btn-focus-color-opacity: 0%;
$border-color: $primary;

$border-radius: 1.25rem;
