$primary: #246259;
$tonal: #9cb19c;
$secondary: #c4dc34;
$success: #41dc79;
$danger: #fa7a52;
$warning: #ffc107;
$info: #1a73e8;
$light: #e5efde;
$dark: #212529;
$border: #dee2e6;

$font-families-default-font: Lato;

$input-btn-border-width: 0.2rem;
$input-btn-focus-color-opacity: 0%;
$border-color: $primary;

